<div class="info-box-outer" id="paragraph-info">
  <div class="info-box mCustomScrollbar hide">
    <p>{{ paragraph_info.description }}</p>
    <div ng-repeat="attachment in paragraph_info.attachments">
      <p>Attachment Type : {{ attachment.attachment_type.name }}</p>
      <p>{{ attachment.name }}</p>
      <p>{{ attachment.description }}</p>
    </div>
  </div>
</div>