<div class="info-box-outer">
  <div class="info-box mCustomScrollbar">
    <p>Information from AMC, GM and linked regulation paragraph.</p>
    <p>Information from AMC, GM and linked regulation paragraph.</p>
    <p>Information from AMC, GM and linked regulation paragraph.</p>
  </div>
</div>