<div class="modal fade" id="locationPopup" tabindex="-1" role="dialog" aria-labelledby="locationPopupLabel">
  <div class="modal-dialog" role="document">
    <div class="cal-outer-box main-span mCustomScrollbar" style="max-width: 420px;">
      <div class="location-form">
        <form>
          <div class="form-group">
            <div class="col-md-6">
              <label for="location-country">Country</label>
              <input type="text" class="form-control" placeholder="Country" ng-model="locations.country" id="location-country"/>
            </div>
            <div class="col-md-6">
              <label for="location-airport">Airport</label>
              <input type="text" class="form-control" placeholder="Airport" ng-model="locations.airport" id="location-airport"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <label for="location-address">Address</label>
              <input type="text" class="form-control" ng-model="locations.address" id="location-address"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6">
              <label for="location-zipcode">Zipcode</label>
              <input type="text" class="form-control" placeholder="Zipcode" ng-model="locations.zipcode" id="location-zipcode"/>
            </div>
            <div class="col-md-6">
              <label for="location-town">Town/City</label>
              <input type="text" class="form-control" placeholder="Town/City" ng-model="locations.town" id="location-town"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <label for="location-additional-details">Additional Details</label>
              <input type="text" class="form-control" ng-model="locations.additional_details" id="location-additional-details"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6">
              <label for="location-name">Location Name</label>
              <input type="text" class="form-control" placeholder="Location Name" ng-model="locations.name" id="location-name"/>
            </div>
            <div class="col-md-6">
              <button type="button" class="btn btn-cal" data-dismiss="modal" ng-click="setLocation(null)" style="margin-top: 14%;">Done</button>
            </div>
          </div>
        </form>
      </div>
      <div class="location-list">
        <div class="row middle-header clearfix">
          <div class="col-md-3 clickble" ng-repeat="location in locations_list" ng-click="setLocation(location)">
            <div class="span-box">{{ location.name }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
