<div class="fine-tune" ng-repeat="ft in fine_tunes">
  <h4>{{ show_date(campaign.start_at) }}</h4>
  <div class="date-section">
    <div start-date-calendar="" ng-model="ft.date"></div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>Start</p>
      <div class="form-group">
        <hour-time-picker ng-model="ft.start_time.hour"></hour-time-picker>
        <minute-time-picker ng-model="ft.start_time.min"></minute-time-picker>
      </div>
    </div>
    <div class="col-md-4">
      <p>Stop</p>
      <div class="form-group">
        <hour-time-picker ng-model="ft.end_time.hour"></hour-time-picker>
        <minute-time-picker ng-model="ft.end_time.min"></minute-time-picker>
      </div>
    </div>
    <div class="col-md-4">
      <p>Paragraphs</p>
      <div class="form-group">
        <select name="colors" class="form-control fc-lg" ng-model="ft.paragraph" ng-options="item.id as item.name for item in list2">
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>Note</p>
      <input type="text" class="form-control" ng-model="ft.note" />
    </div>
  </div><br>
</div>
<div class="footer-cal">
  <button type="button" class="btn btn-default" ng-click="addFineTune()">+</button>
</div>
<br>
