<div class="modal fade" id="fineTunePopup" tabindex="-1" role="dialog" aria-labelledby="fineTunePopupLabel">
  <div class="modal-dialog" role="document" style="margin-right: 21%;">
    <div class="cal-outer-box main-span mCustomScrollbar" style="max-width: 420px;">
      <div ng-repeat="i in range(2)">
        <%= render partial: "temp" %>
      </div>
      <div class="footer-cal">
        <button type="button" class="btn btn-cal" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>
