<div class="left-sec" ng-controller="ChapterCtrl">
  <script type="text/ng-template" id="group-template.html">
    <div class="panel panel-default">
      <h4 class="panel-heading panel-title clearfix" ng-class="{'highlight' : isCollapsed}">
        <a class="expbtn accordion-toggle" ng-class="{'collapsed' : !isOpen}" ng-click="toggleOpen()"></a>
        <p>{{ heading }}</p>
        <a class="info" href="javascript:void(0);" title="Info"></a>
      </h4>
      <div class="panel-collapse" uib-collapse="!isOpen">
        <div class="panel-body" ng-transclude></div>
      </div>
    </div>
  </script>

    <div class="iner-box row">
      <form>
        <div class="col-md-6 pd-r">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search text" ng-model="searchForm.q" ng-change="search()" style="text-transform: none;"/>
          </div>
        </div>
        <div class="col-md-6 custom-dd">
          <div class="form-group">
            <select class="form-control" ng-model="searchForm.filter" ng-change="search()">
              <option selected value="">Filter By</option>
              <option ng-repeat="ctype in list_chapter_types">{{ctype}}</option>
            </select>
          </div>
        </div>
      </form>
      <div class="col-md-12 main-span mCustomScrollbar">
        <div class="panel-group" id="accordion" role="tablist">
          <!-- ng loop start -->
          <uib-accordion close-others="false">
            <!-- <uib-accordion-group heading="{{chapter.name}}" ng-repeat="chapter in chapters" template-url="group-template.html" is-open="suffle.isOpen" ng-init="suffle.isOpen = $first"> REMOVE in refactor--> 
           <uib-accordion-group heading="{{chapter.name}}" ng-repeat="chapter in chapters" template-url="group-template.html"> 
              <div class="outer-box" ng-repeat="paragraph in chapter.paragraphs | orderBy:'number'" ng-model="chapter.paragraphs" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" jqyoui-draggable="{index: $index,placeholder:'keep',animate:false}" ng-class="{'selected' : itemPresent(paragraph)}">
                <span id="{{ paragraph.id }}">
                  <div class="para-list-type">{{ paragraph.number }}</div>
                  <div class="para-detail">{{ paragraph.description }}</div>
                  <a class="info para-info" href="javascript:void(0);" title="Info" ng-click="showInfo(paragraph)"></a>
                <span>
              </div>
              </uib-accordion-group>
          </uib-accordion>
          <!-- ng loop end -->
        </div>
      </div>
    </div>
</div>

