<div class="modal fade" id="locationPopup" tabindex="-1" role="dialog" aria-labelledby="locationPopupLabel">
  <div class="modal-dialog" role="document" style="margin-right: 21%;">
    <div class="cal-outer-box main-span mCustomScrollbar" style="max-width: 420px;">
      <div class="location-form">
        <form>
          <div class="form-group">
            <div class="col-md-6">
              <label for="location-country">Country</label>
              <input type="text" class="form-control" placeholder="Country" ng-model="audit.location.country" id="location-country"/>
            </div>
            <div class="col-md-6">
              <label for="location-airport">Airport</label>
              <input type="text" class="form-control" placeholder="Airport" ng-model="audit.location.airport" id="location-airport"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <label for="location-address">Address</label>
              <input type="text" class="form-control" ng-model="audit.location.address" id="location-address"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6">
              <label for="location-zipcode">Zipcode</label>
              <input type="text" class="form-control" placeholder="Zipcode" ng-model="audit.location.zipcode" id="location-zipcode"/>
            </div>
            <div class="col-md-6">
              <label for="location-town">Town/City</label>
              <input type="text" class="form-control" placeholder="Town/City" ng-model="audit.location.town" id="location-town"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <label for="location-additional-details">Additional Details</label>
              <input type="text" class="form-control" ng-model="audit.location.additional_details" id="location-additional-details"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6">
              <label for="location-name">Location Name</label>
              <input type="text" class="form-control" placeholder="Location Name" ng-model="audit.location.name" id="location-name"/>
            </div>
            <div class="col-md-6">
              <button type="button" class="btn btn-cal" data-dismiss="modal" ng-click="setLocation()" style="margin-top: 14%;">Done</button>
            </div>
          </div>
        </form>
      </div>
      <div class="location-list">
        <div class="row middle-header clearfix">
          <div class="col-md-3"> <div class="span-box">145 a 55(b)</div> </div>
          <div class="col-md-3"> <div class="span-box">145 a 55(c)</div> </div>
          <div class="col-md-3"> <div class="span-box">145 a 60(b)</div> </div>
          <div class="col-md-3"> <div class="span-box">145 a 60(c)</div> </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .fine-tune .form-group .form-control { display: -webkit-inline-box; width: 48%; padding-left: 0px; padding-right: 0px; }
  .fine-tune .form-group .fc-lg { width: 100%; }
  .fine-tune .footer-cal { margin-top: 2%; margin-bottom: 2%; }
  .fine-tune .form-control:focus, .fine-tune .footer-cal .btn:hover { border: 2px solid #FA9C46; box-shadow: none; }
  ul#st-menu { border-radius: 5px; }
  ul#st-menu > li:hover, ul#st-menu > li:focus { background: #fa9c46; border: 1px solid #fa9c46; color: #fff; }
  #locationPopup .cal-outer-box { padding-left: 12px; padding-right: 12px; }
  .location-form { border: 2px solid #e5e5e5; position: fixed; max-width: 65%; padding-bottom: 8px; margin-top: -5px; border-radius: 16px; }
  .location-form .form-control { border: 2px solid #e5e5e5; border-radius: 10px ; }
  .location-form .form-control:focus { border: 2px solid #FA9C46; box-shadow: none; border-radius: 10px ; }
  .location-list { padding-top: 87%; }
</style>