<div class="modal fade" id="locationPopup" tabindex="-1" role="dialog" aria-labelledby="locationPopupLabel">
  <div class="modal-dialog" role="document" style="margin-right: 21%;">
    <div class="cal-outer-box" style="max-width: 427px;">
      <div class="fine-tune">
        <h4>26-JAN-2016</h4>
        <div class="row">
          <div class="col-md-4">
            <p>Start</p>
            <div class="form-group">
              <select class="form-control">
                <option value="08">08</option>
                <option value="09">09</option>
              </select>
              <select name="colors" class="form-control">
                <option value="30">30</option>
                <option value="40">40</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <p>Stop</p>
            <div class="form-group">
              <select name="colors" class="form-control">
                <option value="08">08</option>
                <option value="09">09</option>
              </select>
              <select name="colors" class="form-control">
                <option value="30">30</option>
                <option value="40">40</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <p>Paragraphs</p>
            <div class="form-group">
              <select name="colors" class="form-control fc-lg">
                <option>145.A.35(A)</option>
                <option>145.A.35(B)</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>Note</p>
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="footer-cal">
          <button type="button" class="btn btn-default">+</button>
        </div>
      </div>
      <div class="footer-cal">
        <button type="button" class="btn btn-cal" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .fine-tune .form-group .form-control { display: -webkit-inline-box; width: 48%; padding-left: 0px;}
  .fine-tune .form-group .fc-lg { width: 100%; }
  .fine-tune .footer-cal { margin-top: 2%; margin-bottom: 2%; }
  .fine-tune .form-control:focus, .fine-tune .footer-cal .btn:hover { border: 2px solid #FA9C46; box-shadow: none; }
  ul#st-menu { border-radius: 5px; }
  ul#st-menu > li:hover, ul#st-menu > li:focus { background: #fa9c46; border: 1px solid #fa9c46; color: #fff; }

</style>