<!-- Date time popup start -->
<div class="custom-popup" id="date_time_popup">
  <div class="cal-outer-box">
    <h4>start</h4>
    <!-- Datepicker -->
    <div class="date-section"> <div id="datepicker" ng-model="newAudit.startDate" data-date-format="dd-mm-yyyy"></div> </div>
    <div class="custom-timeslder-span1">
      <div class="rang-sli">
        <p>  
          <input class="range-inp" type="text" id="amount" readonly ng-model="newAudit.startTime">
        </p>
        <div id="slider-range-max"></div>
      </div>
    </div>
    <h4>end</h4>
    <!-- Datepicker -->
    <div class="date-section"> <div id="datepicker1" ng-model="newAudit.endDate"></div> </div>
    <div class="custom-timeslder-span1">
      <div class="rang-sli">
        <p>  
          <input class="range-inp" type="text" id="amount1" readonly ng-model="newAudit.endTime" >
        </p>
        <div id="slider-range-max1"></div>
      </div>
    </div>
    <div class="footer-cal">
      <button type="button" class="btn btn-cal">finetune</button>
      <button type="button" class="btn btn-cal" id="done">done</button>
    </div>
  </div>
</div>
<!-- Date time popup end -->