<div class="right-sec">
  <div class="iner-box row">
    <form>
      <div class="col-md-11 pd-r">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search field" />
        </div>
      </div>
    </form>
    <div class="col-md-12 main-span mCustomScrollbar" ng-controller="AuditCtrl">
      <div class="row middle-header clearfix">
        <div class="col-md-3 right-box" ng-repeat="audit in audits">
          <div class="span-box">
            <span data-toggle="modal" data-target="#showAuditPopup" ng-click="showAudit(audit)">{{ audit.name }} </span>
            <a confirmed-click="delete_audit(audit)" ng-confirm-click="Would you realy wanna delete this audit?"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "home/popups/show_audit" %>