<!DOCTYPE html>
<html>
  <head>
    <title>Audit Planning Beta Version</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body ng-app="myApp">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="main-content-box">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
